name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

#parameters:
#  - name: environment
#    displayName: Environment
#    type: string
#    values:
#      - DigitalHub-INT
#      - PROD
#      - UAT
#      - QA

variables:
  - name: mtrx2
    value: "{'CM':{'rootweb':'rootwebCM'}, 'CD':{'rootweb':'rootwebCD'}}"


stages:
  - stage: Matrix
    displayName: Test Publish Matrix
    jobs:
      - job: deployer
        strategy:
          matrix: $[ variables.mtrx2 ] 
          maxParallel: 2
        steps:
          - script: echo $(rootweb)

#          - task: PowerShell@2
#            inputs:
#              targetType: inline
#              script: |
#                gci env:* | sort-object name

 