name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'


parameters:
  - name: environment
    displayName: Environment
    type: string
    default: DigitalHub-INT
    values:
      - DigitalHub-INT
      - DigitalHub-QA
      - DigitalHub-UAT
      - DigitalHub-PROD
  - name: Nodes
    type: object
    default: 
      - cm
      - cd1
      - cd2
      - cd3
      - cd4

steps:
- ${{ each value in parameters.Nodes }}:
  - script: echo ${{ value }}

#steps:
#- ${{ each node in parameters.Nodes }}:
#  - script: echo ${{ node }}

#stages:
#  - stage: a
#    jobs:
#    - job: kurwa
#      displayName: sdsdsd
#      steps:
#      - ${{ each node in parameters.Nodes }}:
#        - script: echo ${{ node }}


#variables:
#  ${{ if eq(parameters['environment'], 'DigitalHub-INT') }}:
#    DeploymentMatrix: "{'CMint':{'rootweb':'rootwebCM'}, 'CDint':{'rootweb':'rootwebCD'}}"
#  ${{ if ne(parameters['environment'], 'DigitalHub-INT') }}:
#    DeploymentMatrix: "{'CM':{'rootweb':'rootwebCM'}, 'CD':{'rootweb':'rootwebCD'}}"
#      - template: envs/${{ parameters.environment }}-deployment.yaml


#steps:
#        - ${{ each value in $[ variables.nodes ] }}:
#          - script: echo ${{value}}
#  - script: echo "done!"
