name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    values:
      - PROD
      - UAT
      - QA
      - INT

variables:
  - template: envs/${{ parameters.environment }}.yaml

stages:
  - stage: Publish
    displayName: Publish content of src directory to Artifactory
    jobs:
      - job: publish
        steps:
          - publish: '$(System.DefaultWorkingDirectory)/src'
            artifact: 'Apps'

  - stage: Deploy_to_environment
    displayName: 'Copy files to Apps directory'
    jobs:
      - deployment: deployment
        displayName: "Deployment to CM"
        environment: 
          name: ${{ parameters.environment }}
          tags: CM 
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - task: CopyFiles@2
                  inputs:
                    SourceFolder: '$(System.DefaultWorkingDirectory)\..\Apps\'
                    Contents: '**'
                    TargetFolder: '${{ variables.web_rootCM }}\Website\Apps'
                    OverWrite: true
      - deployment: deployment
        displayName: "Deployment to CD"
        environment: 
          name: ${{ parameters.environment }}
          tags: CM | CD
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - task: CopyFiles@2
                  inputs:
                    SourceFolder: '$(System.DefaultWorkingDirectory)\..\Apps\'
                    Contents: '**'
                    TargetFolder: '${{ variables.web_rootCD }}\Website\Apps'
                    OverWrite: true
