name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    values:
      - PROD
      - UAT
      - QA
      - DigitalHub-INT

variables:
  - template: envs/${{ parameters.environment }}.yaml

stages:
  - stage: Publish
    displayName: Publish content of src directory to Artifactory
    jobs:
      - job: publish
        steps:
          - publish: '$(System.DefaultWorkingDirectory)/src'
            artifact: 'Apps'

  - stage: Matrix
    displayName: Test Publish Matrix
    condition: True
    jobs:
      - job:
        strategy:
          matrix: ${variables.matrix}
        #  CM:
        #    rootweb : "rootwebCM"
        #  CD:
        #    rootweb : "rootwebCD"
          maxParallel: 2
        steps:
          - script: echo $(rootweb)
          - task: PowerShell@2
            inputs:
              targetType: inline
              script: |
                gci env:* | sort-object name
