name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'


parameters:
  - name: environment
    displayName: Environment
    type: string
    default: DigitalHub-INT
    values:
      - DigitalHub-INT
      - DigitalHub-QA
      - DigitalHub-UAT
      - DigitalHub-PROD
  - name: Nodes
    type: object
    default: 
      - CM
#      - cd1
#      - cd2
#      - cd3
#      - cd4


stages:
  - stage: a
    jobs:
    - ${{ each node in parameters.Nodes }}:
      - deployment: deploy_apps_${{node}}
        displayName: jakis tam deploy
        variables:
          - template: envs/${{ parameters.environment }}/Common.yaml
          - template: envs/${{ parameters.environment }}/${{ node }}.yaml
        environment:
          name: ${{ parameters.environment }}
          tags: ${{ node }}
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - script: echo "Common variable is to ${{ variables.company }}"
                - script: echo "CM variable is to ${{ variables.web_root }}"
                - script: echo "and agent name is $( Agent.Name )"