name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: DigitalHub-INT
    values:
      - DigitalHub-INT
      - DigitalHub-QA
      - DigitalHub-UAT
      - DigitalHub-PROD
  - name: Nodes
    displayName: "Target Nodes (INT:CM, QA: CM,CD1, UAT/PROD:CD,CD1,CD2,CD3,CD4)"
    type: object
    default: 
      - CM
      - CD1
      - CD2
      - CD3
      - CD4


stages:
  - stage: Deploy_Apps
    jobs:
    - job: Publish
      displayName: Publish Content of src directory to Artifactory
      steps:
        - publish: '$(System.DefaultWorkingDirectory)/src'
          artifact: 'Apps'
    - ${{ each node in parameters.Nodes }}:
      - deployment: deploy_apps_${{node}}
        displayName: 'Copy files to Apps directory for node ${{node}}'
        variables:
          - template: envs/${{ parameters.environment }}/Common.yaml
          - template: envs/${{ parameters.environment }}/${{ node }}.yaml
        environment:
          name: ${{ parameters.environment }}
          tags: ${{ node }}
          resourceType: virtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
                - task: CopyFiles@2
                  inputs:
                    SourceFolder: '$(System.DefaultWorkingDirectory)\..\apps\'
                    Contents: '**'
                    TargetFolder: '${{ variables.web_root }}\Website\apps'
                    OverWrite: true
#                - script: echo "Common variable is to ${{ variables.company }}"
#                - script: echo "CM variable is to ${{ variables.web_root }}"
#                - script: echo "$(Build.Reason)"
