name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: DigitalHub-INT
    values:
      - DigitalHub-INT
      - DigitalHub-QA
      - DigitalHub-UAT
      - DigitalHub-PROD



#variables:
#  ${{ if eq(parameters['environment'], 'DigitalHub-INT') }}:
#    DeploymentMatrix: "{'CMint':{'rootweb':'rootwebCM'}, 'CDint':{'rootweb':'rootwebCD'}}"
#  ${{ if ne(parameters['environment'], 'DigitalHub-INT') }}:
#    DeploymentMatrix: "{'CM':{'rootweb':'rootwebCM'}, 'CD':{'rootweb':'rootwebCD'}}"

stages:
  - stage: Matrix
    displayName: Test Publish Matrix
    jobs:
#      - template: envs/${{ parameters.environment }}-deployment.yaml
      - job: DeployWithMatrix
        displayName: Test Job to see if deploy matrix works
        strategy:
          matrix:
            CM: 
              webroot: "rootCM"
            CD:
              webroot: "rootCD"
        steps:
          - script: echo "$(parameters.webroot)"

