name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'


parameters:
  - name: environment
    displayName: Environment
    type: string
    default: DigitalHub-INT
    values:
      - DigitalHub-INT
      - DigitalHub-QA
      - DigitalHub-UAT
      - DigitalHub-PROD
  - name: Nodes
    type: object
    default: 
      - cm
      - cd1
      - cd2
      - cd3
      - cd4

#steps:
#- ${{ each value in parameters.Nodes }}:
#  - script: echo ${{ value }}

#steps:
#- ${{ each node in parameters.Nodes }}:
#  - script: echo ${{ node }}

stages:
  - stage: a
    jobs:
    - ${{ each node in parameters.Nodes }}:
      - job: kurwa_${{node}}
        displayName: sdsdsd
        steps:
        - script: echo ${{ node }}


