name: Deploy Apps to Environment

trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: QA
    values:
      - DigitalHub-INT
      - PROD
      - UAT
      - QA


variables:
  ${{ if eq(parameters['environment'], 'DigitalHub-INT') }}:
    DeploymentMatrix: "{'CM':{'rootweb':'rootwebCM'}"
  ${{ if ne(parameters['environment'], 'DigitalHub-INT') }}:
    DeploymentMatrix: "{'CM':{'rootweb':'rootwebCM'}, 'CD':{'rootweb':'rootwebCD'}}"

stages:
  - stage: Matrix
    displayName: Test Publish Matrix
    jobs:
      - job: deployer
        strategy:
          matrix: $[ variables.DeploymentMatrix ] 
          maxParallel: 2
        steps:
          - script: echo $(rootweb)

#          - task: PowerShell@2
#            inputs:
#              targetType: inline
#              script: |
#                gci env:* | sort-object name

 