# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger: none

pool: 'Azure Pipelines'

parameters:
  - name: environment
    displayName: Environment
    type: string
    values:
      - PROD
      - UAT
      - QA
      - INT
  - name: roles
    displayName: Role in environment
    type: object

stages:
  - stage: Send files to repository
    displayName: Obtaining files from repository and pushing them to artifactory
    jobs:
      - job: pubish
        steps:
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(Pipeline.Workspace)\src'
              artifact: 'Apps'
              publishLocation: 'pipeline'

  - stage: Deploy_to_environment
    displayName: 'Deployment to envionment'
    jobs:
      - job: download_from_artifactory
        displayName: Downloading Apps from Artifactory
        steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'Apps'
              downloadPath: '$(System.ArtifactsDirectory)'
      - deployment: deployment
        displayName: "Copy app files to environment"
        environment: ${{ parameters.environment }}.demoWinEnv
        strategy:
          runOnce:
            deploy:
              steps:
                - powershell: |
                    echo "poczatek"
                    pwd
                    echo "hostname"
                    hostname
                    echo "dir"
                    dir
                    echo "koniec"