
trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    values:
      - PROD
      - UAT
      - QA
      - INT
  - name: roles
    displayName: Role in environment
    type: object

stages:
  - stage: Send_files_to_repository
    displayName: push to art1
    jobs:
      - job: publish
        steps:
          - script: |
              dir
              hostname
              echo $(System.DefaultWorkingDirectory)
              echo "koniec"
          - publish: '$(System.DefaultWorkingDirectory)/src'
            artifact: 'Apps'
              #publishLocation: 'pipeline'

  - stage: Deploy_to_environment
    displayName: 'Deployment to envionment2'
    jobs:
      - deployment: deployment
        displayName: "Copy app files to environment2.1"
        environment: ${{ parameters.environment }}.demoWinEnv
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@0
                  displayName: "downloading from artifactory2.1.1"
                  inputs:
                    buildType: 'current'
                    downloadType: 'single'
                    artifactName: 'Apps'
                    #downloadPath: '$(System.ArtifactsDirectory)'
                    downloadPath: 'd:\DigitlHubCM'
                - powershell: |
                    echo "poczatek"
                    Copy-item -Force -Recurse -Verbose * -Destination d:\DigitlHubCM
                    echo "koniec"
                  displayName: "copy files2.1.2"