
trigger: none

pool:
  vmImage: 'windows-latest'

parameters:
  - name: environment
    displayName: Environment
    type: string
    values:
      - PROD
      - UAT
      - QA
      - INT
  - name: roles
    displayName: Role in environment
    type: object

stages:
  - stage: Send_files_to_repository
    displayName: push to art1
    jobs:
      - job: publish
        steps:
          - script: |
              dir
              hostname
              echo $(System.DefaultWorkingDirectory)
              echo "koniec"
          - publish: '$(System.DefaultWorkingDirectory)/src'
            artifact: 'Apps'

  - stage: Deploy_to_environment
    displayName: 'Deployment to envionment2'
    jobs:
      - deployment: deployment
        displayName: "Copy app files to environment2.1"
        environment: 
          name: ${{ parameters.environment }}
          tags: SITECORE
        strategy:
          runOnce:
            deploy:
              steps:
                - task: CopyFiles@2
                  inputs:
                    SourceFolder: '$(System.DefaultWorkingDirectory)\..\Apps\'
                    Contents: '**'
                    TargetFolder: 'd:\DigitlHubCM'
                    OverWrite: true
