jobs:
  - job: DeployWithMatrix
    displayName: Test Job to see if deploy matrix works
    strategy:
      matrix:
        CM: 
          webroot: "rootCM"
        CD:
          webroot: "rootCD"
    steps:
      - script: echo "$(parameters.webroot)"
